h1{
    color: rgb(0, 0, 0);
}
body{
    background-color: rgb(14, 121, 214);
}
#encabezado {
    background-color: brown;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px #000;
    display: flex;
}
.logo {
    background-color: whitesmoke;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 100%;
    height: auto;
    
}
.menu {
    background-color: rgb(2, 123, 194);
    width: 70%;
   
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: rgb(106, 180, 255);
    

}
.menu ul li {
    margin: 0;
    padding: 15px 20px;
    color: white;

}
.menu ul li a{
    text-decoration: none;
    color: white;
}
.menu ul li a:hover{
    background-color: rgb(0, 0, 0);
    padding: 15px 20px;
}
.redes{
    background-color: rgb(47, 161, 255);
    width: 20%;
}