h1{
    color: rgb(0, 0, 0);
}
body{
    background-color: rgb(14, 121, 214);
}
#encabezado {
    background-color: brown;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px #000;
}